html {
    font-size: 0.9em;
    width: 100vw;
    height: 100vh;
  }

  body {
    display: block;
    height: 1rem;
  }
  body > img {
    width: 106rem;
    height: 112rem;
    opacity: 0.85;
    order: 1;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .write {
    bottom: 113rem;
    position: relative;
    display: block;
    width: 104.5rem;
  }